html {
    width: 100vw;
    height: 100vh;
    /* -ms-overflow-style: none;
    scrollbar-width: none;  */
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: #a9a9a9;
}
body {
    width: 100%;
    height: 100%;
    
    margin:0;

    -ms-overflow-style: none;
    scrollbar-width: none;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#screen {
    width: 95%;
    display:block;
    overflow-y:scroll;
    height: 96%;
    
    border: 3px solid black;
    border-radius:20px;
    
    background-color: rgb(173, 42, 42);

    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

#screen_instruction {
    height: 35vh;
    width: 100%;
    display:flex;
    align-items: center;

    padding: 1% 0 2% 0;
    background-color: white;

    box-sizing: border-box;
    overflow: hidden;
}
#inst_character {
    width: 25%;
    margin: 0 2% 0 2%;
    aspect-ratio: 1/1;
    background: url(img/마스코트.png) no-repeat center/cover; 
}
#instruction {
    flex:1;
    
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 0 2% 0 2%;

    font-size: large;
    font-weight: bold;

    word-wrap: break-word;
    word-break: break-all;

    box-sizing: border-box;
    overflow-y: auto;
    max-height: 97%;
}

#다음지시 {
    display:block;
    position:fixed;

    bottom: 2%;
    right: 5%;

    z-index: 1000;
    
    padding: 10px;
    font-size: large;
    font-weight: bold;

    background-color: rgba(173, 42, 42, 0.856);
    border-color: aliceblue;
    border-radius: 10px;
}

.title {
    text-align: center;
    height: fit-content;
    color:rgb(255, 219, 169);

    font-size: large;
    font-weight: bold;
    padding: 4%;
}

/* 메인 화면 */
#메인화면 { 
    width:100%;
    height: 100%;

    display:flex;
    flex-direction: column;
}
#메인화면 .main-container {
    display:flex;    
    flex-direction: column;
    height: 100%;
    justify-content:center; 
    
    background-color:rgb(141, 65, 52);
    border-radius: 0 0 20px 20px;
}
#메인화면 .button-container {    
    display:flex;
    justify-content: space-between;

    padding:5%;
    margin:5%;
}
#메인화면 .button-container button {
    font-size:large;
    font-weight: bolder;
    width:45%;
    
    padding:5%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10%;
}
#메인화면 #매장버튼 {
    width:80%;
    
    aspect-ratio: 1/1;
    background: url(img/매장.png) no-repeat center / cover;
}
#메인화면 #포장버튼 {
    width: 80%;

    aspect-ratio: 1/1;
    background: url(img/포장.png) no-repeat center / cover;
}

/* 주문 화면 - 상단바 */
#주문화면 {
    width:100%;
    height: 100%;

    display:grid;
    grid-template-rows: min-content min-content 3fr 2fr;
}
#주문화면 .top_bar {
    aspect-ratio: 8/1;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border: 1px solid white;
 
    background-color:antiquewhite;
}
#주문화면 .top_bar .menu_type {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: large;
    font-weight: bold;
    color:rgb(96, 66, 0);
}
/* 주문 화면 - 메뉴판 */
#주문화면 .menu_screen {
    overflow: auto;

    background-color:rgb(224, 224, 224);    
    border: 1px solid white;
}
#주문화면 #메인메뉴, #계절메뉴, #추가메뉴, #음료 {
    width:100%;
    height: 100%;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#주문화면 .menu_screen .menu {
    height:fit-content;
    margin:2%;
    margin-top:5px;

    display:flex;
    flex-direction: column;
    
    background-color: cornsilk;
}
#주문화면 .menu_screen .menu_img {
    width: 100%;
    aspect-ratio: 1/1;
}
#주문화면 .menu_screen .menu_name {
    text-align: center;
    font-weight: bold;
    font-size: medium;

    background-color: white;
}
#주문화면 .menu_screen .menu_price {
    text-align:center;
    color: dimgray;

    background-color: whitesmoke;
}
/* 주문 화면 - 하단 장바구니 */
#주문화면 .bottom_screen {
    width:100%;

    display:grid;
    grid-template-columns: 4fr 3fr;

    border-radius: 0 0 20px 20px;

    background-color: rgb(233, 232, 230);

    overflow-y: auto;
}
#주문화면 .bottom_screen::-webkit-scrollbar{
    display:none;
}
#주문화면 .cart {
    height: 98%;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;

    background-color:rgb(255, 254, 251);
    border-radius: 0 0 0 20px;

    padding-top:1%;
    padding-bottom: 1%;
    overflow-y: auto;
}
#주문화면 .cart > *:not(:last-child) {
    border-bottom: 1px solid gray;
}

#주문화면 .cartList {
    display:none;
    justify-content: center;
    padding-left: 3%;
    padding-right: 3%;

    flex-direction: column;
}

#주문화면 .cart_item_top {
    height: 50%;
    display:flex;
    align-items: center;

    flex-direction: row;
    justify-content: space-between;
}
#주문화면 .cart_item_bottom {
    height: 50%;
    display:flex;
    align-items: center;

    flex-direction: row;
    justify-content: space-between;
}
#주문화면 .cart_pcs {
    /* 장바구니 - '-' 메뉴수량 '+ */
    display:flex;
    height: 100%;

    align-items: center;
}
#주문화면 [id ^= "name"] {
    /* 장바구니 - 메뉴 이름 */
    font-weight: bolder;
}
#주문화면 [id ^= "delete"] {
    /* 장바구니 - X */
    width: 6%;
    margin-top: 2%;
    margin-bottom: 2%;
    background: gray;
    border-radius: 20%;
    color: white;
    font-weight: bolder;
    text-align: center;
}
#주문화면 [id ^= "minus"] {
    /* 장바구니 - '-' */
    background: orange;
    border-radius: 20%;
    color: white;
    font-weight:bolder;
    font-size: 12px; 

    text-align: center;
}
#주문화면 [id ^= "pcs"] {
    /* 장바구니 - 메뉴 수량 */
    margin-left: 5px;
    margin-right: 5px;
}
#주문화면 [id ^= "plus"] {
    /* 장바구니 - '+' */
    background: orange;
    border-radius: 20%;
    color: white;
    font-weight: bolder;
    font-size: 12px;

    text-align: center;
}
/* 주문 화면 - 하단 결제버튼 */
#주문화면 .payment {
    display: grid;
    grid-template-rows: 1fr 1fr;
    
    padding: 2%;
    overflow-y:hidden;
}

#주문화면 .payment_top { /* 주문 금액 */
    display:flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 10px;
}
#주문화면 .payment #total_price {
    padding-left:2%;
    margin-top:5%;

    font-size: x-large;
}
#주문화면 .payment_bottom { /* 결제하기 버튼 */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#주문화면 .payment #결제버튼 {
    width: 70%;
    height: 70%;

    font-size: large;
    font-weight:bolder;
    border-radius:15px;
    border-color: rgb(215, 204, 188);

    background-color:rgb(252, 222, 176);
}

/* 결제화면 - 주문 세부내역*/
#결제화면 {
    position:relative;
    width:100%;
    height: 100%;
    
    display:grid;
    grid-template-rows:max-content max-content 6fr 1fr 2fr 1fr;
}
#결제overlay {
    content : "";
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    pointer-events: none; 

    background-color:rgba(0, 0, 0, 0.7); 
}
#결제화면 .check_str {
    padding: 1%;

    background-color: antiquewhite;
}
#결제화면 .payment_cart {
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 2fr;

    background-color: rgb(253, 245, 245);
}
#결제화면 .cartOrder {
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;

    align-items: center;

    padding-left: 1%;
    padding-right: 1%;
}
#결제화면 [id ^= "o_name"] {
    font-size: large;
    font-weight: bold;
}
#결제화면 [id ^= "o_pcs"] {
    text-align: right;
}
#결제화면 [id ^= "o_price"] {
    text-align: right;
}
/* 결제화면 - 총 결제금액 */
#결제화면 .payment_price {
    display:flex;
    font-size: large;
    align-items: center;

    background-color: antiquewhite;

    padding-left: 1%;
}
#결제화면 #total_order_price {
    font-size: x-large;
    font-weight: bolder;
    color:darkred;

    margin-left: 10px;
    margin-right: 8px;
}
/* 결제화면 - 하단 버튼들 */
#결제화면 .buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5%;
}
#결제화면 .payment_btn {
    font-weight: bold;
    font-size: large;

    width: 30%;
    aspect-ratio: 5/4;

    border-radius: 10%;
    border: 2px solid rgb(90, 77, 60);

    background-color: bisque;
}
#결제화면 #이전화면 {
    background-color: rgb(245, 236, 223);
}

/* 카드결제창 */
#카드결제창 {
    margin-top: 25%;

    position:absolute;
    width:70%;
    height: 50%;
    top: 0;

    background-color: white;
    border: 3px solid rgb(210, 168, 97);

    display: grid;
    grid-template-rows: 2fr auto auto 3fr;
    
    overflow-y:scroll;
}
#카드결제창 .msg_1 {
    font-size: x-large;
    font-weight: bolder;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color:moccasin;
}
#카드결제창 .msg_2 {
    font-size: large;
    font-weight: bolder;

    margin-top: 5%;
    margin-bottom: 5%;

    text-align: center;
}

#카드결제창 .img {
    width:80%;
    padding-left: 10%;
    padding-right: 10%;
    aspect-ratio: 1/1;
    background: url(img/card.jpg) no-repeat center / cover;
}
#카드결제창 .buttons {
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#카드결제창 .card_btn {
    font-weight: bold;
    font-size: x-large;

    width: 30%;
    height:max-content;
    padding: 10px;

    border-radius: 10%;
    border-color:rgb(189, 166, 126);
}

#카드결제창 #완료 {
    background-color: moccasin;
}

/* 완료화면 */
#완료화면 {
    width:100%;
    height: 100%;

    display:grid;
    grid-template-rows: max-content 1fr;
    align-items: center;
}
#완료화면 .clear_screen {
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    background-color: beige;

    border-radius: 0 0 20px 20px;
}
#완료화면 #character {
    width:60%;
    aspect-ratio: 1/1;

    margin-left: 20%;

    background: url(img/마스코트.png) no-repeat center / cover;  
}
#완료화면 .msg {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;

    padding-top: 5%;

    color:rgb(0, 0, 0);
}